.body {
    font-family: "Roboto", "Arial", sans-serif;
    color: #ffffff;
    max-width: 1000px;
    max-height: 30vw;
}

@media screen and (max-width: 1001px) {
    body {
        max-width: 1000px;
        text-align: center;
    }
}

@media screen and (max-width: 1001px) {
    :root {
        font-size: 3vw;
    }
}

.container {
    margin: 0 auto;
}


a {
    text-decoration: none;
    color: #ffffff;
}

li {
    display: block;

}

button {
    border: 0;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@media screen and (max-width: 10001px){
    .p{
        font-size: 14vw;
    }
}