.header {
    background: url(../img/bit.png) no-repeat;
    background-size: contain;
    width: 100%;
    height: 60vw;
    flex-shrink: 0;
    padding: 2%;
}

.header__contact {
    margin-left: 10px;
    width: 90px;
    height: 34px;
    background: #FFFFFF;
    color: #606B74;
    text-align: center;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 21.5px;
    border: 0;
    border-radius: 4px;
    margin-top: -9px;
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.header__nav {
    display: flex;
}

.standart__screen {
    margin-left: 500px;
    margin-top: -15px;
}

.header__nav aside {
    display: flex;
    /* margin-left: -300px; */

}

.header__nav ul {
    display: flex;
}

.header__nav_item {
    margin-right: 40px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    color: #000;
}


.title {
    color: #fff;
    margin-top: 186px;
    margin-left: 116px;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    margin-right: 0;
}

.parahraph {
    max-width: 440px;
    color: #fff;
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 900;
    margin-top: 12px;
    margin-left: 116px;
    margin-right: 200;
}

.header__logo {
    margin-left: 122px;
    margin-top: 10px;
}

.class__hero {
    max-width: 700px;
    margin-left: 13px;
}

.img {
    /* width: 10.5v;
    height: 4.5vw; */
    margin-left: 57vw;
    /* margin-top: ; */
}

.burger__div {
    display: none;
}

@media screen and (max-width: 1001px) {

    .burger__div {
        display: flex;
        justify-content: left;
    }

    .standart__screen {
        display: none;
    }

    .menu-toggle {
        display: none;
    }

    .close-menu-button {
        position: absolute;
        top: 30px;
        left: 10px;
        font-size: 24px;
        cursor: pointer;
    }

    .menu-icon {
        font-size: 30px;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 10px;
        margin-left: -110px;
    }

    .menu_box {
        position: fixed;
        margin-top: -10px;
        margin-left: -121px;
        width: 320px;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        background-color: #2f5e7d;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
        z-index: 1;
    }

    .menu-toggle:checked+.menu-icon+.menu_box {
        height: 100%;
        padding-top: 50px;
    }

    .burger__menu{
    list-style:none;
    text-align: center;
    margin-top: 10px;
    }

    .burger__menu li{
        margin-top: 20px;
    }

    .burger__menu a{
        margin-left: 5px;
        color:#000;
        font-size: 20px;
        text-decoration: none;
    }

    .header {
        margin-top: -4vw;
        margin-left: 10px;
        height: auto;
        padding: 0;
    }

    .header__logo {
        width: 9.5v;
        height: 4.5vw;
        margin-left: -65vw;
        margin-top: 6vw;
    }

    .title {
        margin-left: -58vw;
        margin-top: 1vw;
        font-size: 3vw;
    }

    .parahraph {
        margin-left: -32vw;
        margin-top: 4vw;
        font-size: 4vw;

    }

    .header__nav_item {
        margin-right: 20px;
        font-size: 3vw;
    }

    .header__nav aside {
        margin-left: 40vw;
        margin-top: -4vw;
    }

    .header__contact {
        margin-left: 65vw;
        margin-top: 1vw;
        height: 0.5vw;
        width: 14vw;
        font-size: 3.5vw;
    }

    .header__nav {
        display: block;
    }

    .img {
        /* width: 8.5vw;
        height: 3.5vw; */
        display: none;
    }
}


@media screen and (min-width: 2000px) {
    .header__logo {
        margin-left: 200px;
        width: 8.5vw;
        height: 2.5vw;
    }


    .standart__screen {
        margin-left: 1020px;
        margin-top: -20px;
    }

    .header__nav_item {
        font-size: 40px;
    }

    .header__contact {
        font-size: 40px;
        height: 90px;
        width: 150px;
        border: 0;
        border-radius: 4px;

    }

    .class__hero {
        margin-left: 100px;
        width: 1000px;
    }

    .title {
        font-size: 2.8vw;
    }

    .parahraph {
        font-size: 3em;
    }

    .img {
        width: 10.5vw;
        height: 5.5vw;
        margin-top: -400px;
    }

}