.section__04 {
    width: 950px;
    height: 400px;
    margin-top: 90px;
}

.img__section-04 {
    width: 390px;
    height: 371px;
    margin-top: -5px;
    margin-left: 250px;
    animation: img_anim 5s infinite;
}

.container__04 {
    margin-left: 730px;
}

.title1__section-04 {
    width: 155px;
    color: var(--color-dark-green, #222F33);
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;

    margin-top: -370px;

}

.text1__section-04 {
    margin-top: 10px;
    width: 155px;
    color: var(--greys-light-grey, #646D70);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.7;
}

.title2__section-04 {
    width: 215px;
    color: var(--color-dark-green, #222F33);
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;
    margin-top: 35px;
}

.text2__section-04 {
    margin-top: 10px;
    width: 155px;
    color: var(--greys-light-grey, #646D70);
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.7;
}

.title3__section-04 {
    margin-top: 35px;
    width: 155px;
    color: var(--color-dark-green, #222F33);
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;
}

.text3__section-04 {
    margin-top: 10px;
    width: 155px;
    height: 66px;
    color: var(--greys-light-grey, #646D70);
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    opacity: 0.7;

}

.container2-04 {
    margin-left: 950px;

}

.title4__section-04 {
    margin-top: -368px;
    width: 155px;
    color: var(--color-dark-green, #222F33);
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;
}

.text4__section-04 {
    margin-top: 10px;
    line-height: 22px;
    opacity: 0.7;
    color: var(--greys-light-grey, #646D70);
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    width: 155px;
    height: 66px;
}

.title5__section-04 {
    margin-top: 35px;
    color: var(--color-dark-green, #222F33);
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;
    width: 155px;

}

.text5__section-04 {
    margin-top: 10px;
    line-height: 22px;
    opacity: 0.7;
    color: var(--greys-light-grey, #646D70);
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    width: 155px;
    height: 66px;

}

.title6__section-04 {
    margin-top: 35px;
    color: var(--color-dark-green, #222F33);
    font-family: Merriweather;
    font-size: 18px;
    font-weight: 900;
    width: 155px;

}

.text6__section-04 {
    margin-top: 10px;
    line-height: 22px;
    opacity: 0.7;
    color: var(--greys-light-grey, #646D70);
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    width: 155px;
    height: 66px;

}

/* .colum {
    display: flex;
} */

@media screen and (max-width: 400px) {
    .section__04 {
        max-width: 20px;
        
    }

    .title2__section-04{
        margin-left: -10vw;
    }

    .inner_section_04 {
        position: block;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 200px;
    }

    .img__section-04 {
        max-width: 290px;
        max-height: 271px;
        margin-top: -90px;
        margin-left: 17px;
    }

    .container__04 {
        margin-left: 0px;
        margin-top: 390px;
        display: flex;
        flex-direction: column;

    }

    .container2-04 {
        margin-left: 160px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
    }

    .colum {
        display: block;
    }
}

@media screen and (min-width: 2000px){
    .img__section-04{
        margin-left: 800px;
    }

    .container__04{
        margin-left: 1300px;
    }

    .container2-04{
        margin-left: 1500px;
    }
}