.section__02 {
    width: 1000 px;
    height: 350 px;
    margin: 0 px auto;
    display: flex;
    align-items: center;
    margin-top: -72px;
    /* margin-top: 100vw; */
}

.inner__section__02-text {
    margin-top: -100px;
    margin-left: 200px;
    flex: 1;
}

.title__section-02 {
    color: var(--color-dark-green, #222F33);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 900;
    margin-top: 110px;
    max-width: 300px;
}

.text__section-02 {
    max-width: 400px;
    width: 400px;
    color: var(--greys-light-grey, #646D70);
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;

}

.btn__section-02 {
    width: 90 px;
    height: 34 px;
    border-radius: 4 px;
    border: 1 px solid var(--greys-light-grey, #646D70);
    color: #606B74;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rubik;
    font-size: 12 px;
    font-weight: 400;
    margin-top: 41 px;
    animation: wiggle 2s linear infinite;

}

.foto__section-02 {
    margin: 0 px auto;
    width: 360 px;
    height: 430 px;
    opacity: 0.8;
    margin-left: 360 px;
    margin-right:300px ;
    margin-top: 600 px;
    animation: img_anim 5s infinite;
}


@media screen and (max-width: 900px) {
    .section__02 {
        display: block;
        margin-left: 6px;
    }

    .title__section-02 {
        font-size: 4vw;
        margin-top: 40vw;
        margin-left: -60vw;

    }

    .text__section-02 {
        text-align: left;
        max-width: 300px;
        font-weight: -40;
        font-size: 4vw;
        margin-left: -56vw;
        margin-top: 5vw;

    }

    .btn__section-02 {
        margin-top: 10vw;
        border-radius: 4px;
        border: 1px solid var(--greys-light-grey, #646D70);
        width: 19vw;
        height: 9vw;
        font-size: 3.5vw;
        margin-left: -120vw;
    }

    .foto__section-02 {
        margin-top: 10vw;
        height: 95vw;
        margin-left: 1vw;
        margin-right:0px ;
    }
}

@media screen and (min-width: 2000px){
    .section__02{
        max-height: 1200px;
    }

    .title__section-02{
        margin-top: 50px;
        margin-left: 600px;
    }

    .text__section-02 {
        margin-top: 20px;
        margin-left: 600px;
        text-align: left;
        font-size: 1vw;
    }

    .btn__section-02{
        margin-left: 600px;
        font-size: 30px;
        margin-top: 10px;
    }

    .foto__section-02{
        margin-right: 700px;
        margin-top: -23px;
    }


}